<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Document</title>
</head>
<style>
  .featurette-divider {
    margin: 0 5rem;
    margin-top: unset;
    /* margin-bottom: 30px */
  }

  .card {
    margin: 0 5rem;

  }
</style>

<body>
  <%- include('../partials/navbar') %>


    <!-- Groups -->
    <form action='/search' method="GET">
      <div class="btn-group mx-5 my-5" role="group" aria-label="Button group with nested dropdown">


        <div class="dropdown mx-5">
          <label for="exampleInputPassword1" class="form-label">Choose Your Interest</label>

          <select class="form-select" aria-label="Default select example" name='interest' required>

            <option value="Arts">Arts</option>
            <option value="Adventure">Adventure</option>
            <option value="Painting">Painting</option>
          </select>
        </div>
        <div class="dropdown mx-2">
          <label for="exampleInputPassword1" class="form-label">Browse Location</label>

          <select class="form-select" aria-label="Default select example" name='location' required>

            <option value="Pune">Pune</option>
            <option value="Delhi">Delhi</option>
            <option value="Mumbai">Mumbai</option>
          </select>



          <button class="btn " aria-disabled="true" type='submit'>Search</button>

        </div>
      </div>
    </form>



    <!-- divider -->
    <hr class="featurette-divider">


    <!-- cards -->
    <% for(group of grp){ %>
      <div class="card mb-3 my-5" style="max-width: 90%; height: 400px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./MOUNTAIN TREKKING.jpg" alt="..." style="max-width: 100%;height: 400px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title"><a href="/group/<%= group._id %> ">
                  <%= group.groupName %>
                </a> </h2>
              <p class="card-text">
                <%= group.description %>
              </p>
              <p class="card-text"><small class="text-muted">Location: <%= group.location %> <br> 7 member, Private
                    group <br>
                    Organized by : <%= group.name %> </small></p>
            </div>
          </div>
        </div>
      </div>
      <% } %>
        <hr class="featurette-divider my-5">



        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
          crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->

</body>

</html>